@keyframes slideInFromLeft{
    0%{
      position: relative;
      left: -200px;
    }
    100%{
      position: relative;
      left: 0px;
    }
  }
  
@keyframes fadeInAnimation{
    0%{
      opacity: 0;
    }
  
    100%{
      opacity: 1;
    }
}
  
@keyframes slideInFromRight{
    0%{
      position: relative;
      right: -200px;
    }
    100%{
      position: relative;
      right: 0px;
    }
}

@keyframes slideInFromBottom{
    0%{
      position: relative;
      bottom: -200px;
    }
    100%{
      position: relative;
      bottom: 0px;
    }
}

@keyframes slideInFromTop{
    0%{
        position: relative;
        top: -200px;
    }
      100%{
        position: relative;
        top: 0px;
    }
}